
.main-menu {
    left:90px;
}
.login-two {
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;
    color:white;
}
.login-two .badge {
    position: absolute;
    top: -6px;
    left: 17px;
}
#logo a h2 {
    padding-top: 5px;
    margin: 0;
    font-weight: 800;
    color:white;
}
#top_menu {
    position:relative;
}
#collapseProfile {
    position: absolute;
    left: -100px;
    top: 59px;
    width: 200px;
}
#sidebar h6 {
    font-size:.8125rem;
}
.box_list_silan {
    background-color: #fff;
    display: block;
    position: relative;
    margin-bottom: 30px;
    min-height: 310px;
}
.box_detail figure a i:before {
    margin-left:10px;
}
#description p {
    display: table;
}