
.main-menu {
    left:90px;
}
.login-two {
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;
    color:white;
}
.login-two .badge {
    position: absolute;
    top: -6px;
    left: 17px;
}
#logo a h2 {
    padding-top: 5px;
    margin: 0;
    font-weight: 800;
    color:white;
}